/* CSS HEX */
:root {
    --white: #ffffffff;
    --dark-purple: #0d0821ff;
    --oxford-blue: #0b0722ff;
    --ultra-violet: #5b61a0ff;
    --russian-violet: #1e1647ff;
    --russian-violet-2: #110d34ff;
}